<footer class="footer-theme header-footer-background bg-primary">
    <div class="text-center p-3">
        <a class="text-light" href="/">Computer Vision</a>
       
      </div>
</footer>
</div>
</body>

</html>
