<%- include('./partials/header.ejs') %>
<main class="main_content">

<div class="container">
    <div class="intro">
    <p class="h3"><%=error.status%></p>
    <p class="h4 mb-3" ><%=error.message %></p>
  </div>
  
  </div>
  </main>
  
  <%- include('./partials/footer.ejs') %>